
results
*.json
__pycache__/utils_backdoor.cpython-36.pyc
__pycache__/visualizer.cpython-36.pyc
models/model1659915279.h5
models/vgg16_GTSRB_32.h5
models/vgg16_GTSRB.h5
models/conv2d_BelgiumTSC_128_flared.h5
data/dataset_BekgiumTSC_flared.hdf5
__pycache__/utils_backdoor.cpython-39.pyc
__pycache__/visualizer.cpython-39.pyc
pubfigresults/pubfig_visualize_fusion_label_0.png
pubfigresults/pubfig_visualize_fusion_label_1.png
pubfigresults/pubfig_visualize_fusion_label_2.png
pubfigresults/pubfig_visualize_fusion_label_3.png
pubfigresults/pubfig_visualize_fusion_label_4.png
pubfigresults/pubfig_visualize_fusion_label_5.png
pubfigresults/pubfig_visualize_fusion_label_6.png
pubfigresults/pubfig_visualize_fusion_label_7.png
pubfigresults/pubfig_visualize_fusion_label_8.png
pubfigresults/pubfig_visualize_fusion_label_9.png
pubfigresults/pubfig_visualize_fusion_label_10.png
pubfigresults/pubfig_visualize_fusion_label_11.png
pubfigresults/pubfig_visualize_fusion_label_12.png
pubfigresults/pubfig_visualize_fusion_label_13.png
pubfigresults/pubfig_visualize_fusion_label_14.png
pubfigresults/pubfig_visualize_fusion_label_15.png
pubfigresults/pubfig_visualize_fusion_label_16.png
pubfigresults/pubfig_visualize_fusion_label_17.png
pubfigresults/pubfig_visualize_fusion_label_18.png
pubfigresults/pubfig_visualize_fusion_label_19.png
pubfigresults/pubfig_visualize_fusion_label_20.png
pubfigresults/pubfig_visualize_fusion_label_21.png
pubfigresults/pubfig_visualize_fusion_label_22.png
pubfigresults/pubfig_visualize_fusion_label_23.png
pubfigresults/pubfig_visualize_fusion_label_24.png
pubfigresults/pubfig_visualize_fusion_label_25.png
pubfigresults/pubfig_visualize_fusion_label_26.png
pubfigresults/pubfig_visualize_fusion_label_27.png
pubfigresults/pubfig_visualize_fusion_label_28.png
pubfigresults/pubfig_visualize_mask_label_0.png
pubfigresults/pubfig_visualize_mask_label_1.png
pubfigresults/pubfig_visualize_mask_label_2.png
pubfigresults/pubfig_visualize_mask_label_3.png
pubfigresults/pubfig_visualize_mask_label_4.png
pubfigresults/pubfig_visualize_mask_label_5.png
pubfigresults/pubfig_visualize_mask_label_6.png
pubfigresults/pubfig_visualize_mask_label_7.png
pubfigresults/pubfig_visualize_mask_label_8.png
pubfigresults/pubfig_visualize_mask_label_9.png
pubfigresults/pubfig_visualize_mask_label_10.png
pubfigresults/pubfig_visualize_mask_label_11.png
pubfigresults/pubfig_visualize_mask_label_12.png
pubfigresults/pubfig_visualize_mask_label_13.png
pubfigresults/pubfig_visualize_mask_label_14.png
pubfigresults/pubfig_visualize_mask_label_15.png
pubfigresults/pubfig_visualize_mask_label_16.png
pubfigresults/pubfig_visualize_mask_label_17.png
pubfigresults/pubfig_visualize_mask_label_18.png
pubfigresults/pubfig_visualize_mask_label_19.png
pubfigresults/pubfig_visualize_mask_label_20.png
pubfigresults/pubfig_visualize_mask_label_21.png
pubfigresults/pubfig_visualize_mask_label_22.png
pubfigresults/pubfig_visualize_mask_label_23.png
pubfigresults/pubfig_visualize_mask_label_24.png
pubfigresults/pubfig_visualize_mask_label_25.png
pubfigresults/pubfig_visualize_mask_label_26.png
pubfigresults/pubfig_visualize_mask_label_27.png
pubfigresults/pubfig_visualize_mask_label_28.png
pubfigresults/pubfig_visualize_pattern_label_0.png
pubfigresults/pubfig_visualize_pattern_label_1.png
pubfigresults/pubfig_visualize_pattern_label_2.png
pubfigresults/pubfig_visualize_pattern_label_3.png
pubfigresults/pubfig_visualize_pattern_label_4.png
pubfigresults/pubfig_visualize_pattern_label_5.png
pubfigresults/pubfig_visualize_pattern_label_6.png
pubfigresults/pubfig_visualize_pattern_label_7.png
pubfigresults/pubfig_visualize_pattern_label_8.png
pubfigresults/pubfig_visualize_pattern_label_9.png
pubfigresults/pubfig_visualize_pattern_label_10.png
pubfigresults/pubfig_visualize_pattern_label_11.png
pubfigresults/pubfig_visualize_pattern_label_12.png
pubfigresults/pubfig_visualize_pattern_label_13.png
pubfigresults/pubfig_visualize_pattern_label_14.png
pubfigresults/pubfig_visualize_pattern_label_15.png
pubfigresults/pubfig_visualize_pattern_label_16.png
pubfigresults/pubfig_visualize_pattern_label_17.png
pubfigresults/pubfig_visualize_pattern_label_18.png
pubfigresults/pubfig_visualize_pattern_label_19.png
pubfigresults/pubfig_visualize_pattern_label_20.png
pubfigresults/pubfig_visualize_pattern_label_21.png
pubfigresults/pubfig_visualize_pattern_label_22.png
pubfigresults/pubfig_visualize_pattern_label_23.png
pubfigresults/pubfig_visualize_pattern_label_24.png
pubfigresults/pubfig_visualize_pattern_label_25.png
pubfigresults/pubfig_visualize_pattern_label_26.png
pubfigresults/pubfig_visualize_pattern_label_27.png
pubfigresults/pubfig_visualize_pattern_label_28.png
models/pubfig_vgg16_128.h5
data/dataset_PubFig_NoFlared.hdf5
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_0.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_1.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_2.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_3.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_4.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_5.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_6.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_7.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_8.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_9.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_10.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_11.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_12.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_13.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_14.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_15.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_16.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_17.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_18.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_19.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_20.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_21.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_22.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_23.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_24.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_25.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_26.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_27.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_28.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_29.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_30.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_31.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_32.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_33.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_34.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_35.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_36.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_37.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_38.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_39.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_40.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_41.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_42.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_43.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_44.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_45.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_46.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_47.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_48.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_49.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_50.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_51.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_52.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_53.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_54.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_55.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_56.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_57.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_58.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_59.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_60.png
BekgiumTSC_results/BekgiumTSC_visualize_fusion_label_61.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_0.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_1.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_2.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_3.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_4.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_5.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_6.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_7.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_8.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_9.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_10.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_11.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_12.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_13.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_14.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_15.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_16.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_17.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_18.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_19.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_20.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_21.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_22.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_23.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_24.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_25.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_26.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_27.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_28.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_29.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_30.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_31.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_32.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_33.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_34.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_35.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_36.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_37.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_38.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_39.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_40.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_41.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_42.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_43.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_44.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_45.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_46.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_47.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_48.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_49.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_50.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_51.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_52.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_53.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_54.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_55.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_56.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_57.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_58.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_59.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_60.png
BekgiumTSC_results/BekgiumTSC_visualize_mask_label_61.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_0.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_1.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_2.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_3.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_4.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_5.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_6.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_7.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_8.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_9.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_10.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_11.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_12.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_13.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_14.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_15.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_16.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_17.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_18.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_19.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_20.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_21.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_22.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_23.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_24.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_25.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_26.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_27.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_28.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_29.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_30.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_31.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_32.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_33.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_34.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_35.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_36.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_37.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_38.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_39.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_40.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_41.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_42.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_43.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_44.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_45.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_46.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_47.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_48.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_49.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_50.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_51.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_52.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_53.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_54.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_55.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_56.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_57.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_58.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_59.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_60.png
BekgiumTSC_results/BekgiumTSC_visualize_pattern_label_61.png
models/vgg16_model_BelgiumTSC_128_0.8905_no_spin.h5
models/vgg16_model_BelgiumTSC_128_0.9000.h5
